<li id="event-<%= event.id %>">





  <span class="content">
    <p>
      <%= link_to "Event info", event %>
    </p>
    <p>
      <b>Event Name:</b> <%= event.name %>
    </p>


    <p>
      <b>Lecturer Name:</b> <%= event.lecturer %>
    </p>

    <p>
      <b>Location</b> <%= event.location %>
    </p>

    <p>
      <b>Start Time:</b>  <%= event.start_time %>
    </p>

    <p>
      <b>End Time:</b> <%= event.end_time %>
    </p>

    <p>
      <b>Digest:</b> <%= event.MD5_digest %>
    </p>

  </span>



</li>
